.body{
    margin: 0;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}

.img{
    width: 20rem;
}

.button{
    background-color: #339933;
    border: none;
    color: white;
    border-radius: 5px;
    width: 10rem;
    height: 35px;
    margin-top: 20px;
}

.container-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    text-align: center;
    position: absolute;
    color: rgb(154, 154, 154);
    bottom: 0;
    width: calc(100% - 8px);
}

.p {
    text-align: center;
}